<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body style="direction: rtl; font-family: Tahoma; color: #57695c;">
    <h4>مدیر محترم وب سایت {{domain}} </h4>
    <p>برای دانلود نسخه ی پشتبان(بک آپ) روی لینک نسخه ی پشتیبان کلیک کنید</p>
    <p>و برای راهنمای استفاده از نسخه ی پشتیبان میتوانید روی لینک مربوط به راهنمای استفاده کلیک کنید</p>
    <a href="https://google.com" target="_blank" style="color: #ac5065;">دانلود نسخه ی پشتیبان</a><br>
    <a href="https://google.com" target="_blank" style="color: #ac5065;">لینک راهنمای استفاده از نسخه ی پشتیبان</a><br>
    <link href="https://google.com">
    <p>در صورت بروز هر گونه مشکل یا سوال در مورد نسخه ی پشتیبان با آقای میلاد محمدی با شماره 09360103260 تماس بگیرید</p>
</body>
</html>